<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>File System - Create Account</title>
</head>
<body>
    <div class="container">   
        <form action="/create" method="POST"> 
            <div class="form-group">
                <input 
                    type="text" 
                    placeholder="Username " 
                    name="username" 
                    required
                />  
            </div> 
            <div class="form-group">
                <input 
                    type="password" 
                    placeholder="Password" 
                    name="password" 
                    required
                />  
            </div>
            <div class="form-group">
                <input 
                    type="submit"
                    value="Create Account"
                    class="btn"
                />
            </div>
            <!-- <input type="checkbox" checked="checked"> Remember me   
            <button type="button" class="cancelbtn"> Cancel</button>   
            Forgot <a href="#"> password? </a>    -->
        </form> 
    </div>   
    
    <!-- <br>
    <a href="2.html"> Click here for creating a file</a>
    <br>
    <a href="3.html">Click here for viewing a file</a>
    <br> -->
</body>
</html>