<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>File System - Login Account</title>
</head>
<body>
    <div class="login-container text-center">
        <h1 class="heading"> Login to your Account </h1>
            {% if message %}
                {{ message }}
            {% endif %}
            <form action="/login" method="post">
                <div class="form-group">
                    <input type="text" name="username" class="textbox" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="textbox" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <a href="{{ url_for('home')}}">
                        <input class="btn btn-primary my-btn" type="submit" value="Log In">
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>